@page "/"
@using Residuals.BlazorHost.Pages.MerchantComponents

@inject Residuals.Merchants _merchants

<PageTitle>Index</PageTitle>

<h1>Merchants</h1>

@foreach (var m in _merchants.ListItems)
{
    <h2><a href="/merchants/@m.MerchantId">@m.MerchantName</a></h2>
    <MonthlyResidualGrid MerchantId="@m.MerchantId" />
}
