@page "/"

@inject Residuals.Merchants _merchants

<PageTitle>Index</PageTitle>

<h1>Merchants</h1>

<ul>
    @foreach (var m in _merchants.ListItems)
    {
        <li><a href="/merchants/@m.MerchantId">@m.MerchantName</a></li>
    }
</ul>
